/* basic styling */
html,body{
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    background: #0f0f0f;
    color: #ffff;
}
.whitespace{
    width: 100px;
    height: 100px;

}
@media(max-width:768px){
    .whitespace{
        display: none;
    }
}
/* typewriter effect */
.line{
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255,255,255,0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);


}
.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;

}
@keyframes typewriter{
    from{
        width: 0;

    }
    to{
        width: 14em;
    }

}
@media(max-width:768px){
    @keyframes typewriter{
        from{
            width: 0;
    
        }
        to{
            width: 14em;
        }
    
    }
}
@keyframes blinkTextCursor{
    from{
        border-right-color: rgb(255, 255, 255,0.75) ;

    }
    to{
        border-right-color: transparent;
    }

}
/* navigation */
/* hero section */
/* scroll down icon animation */
/* project section */
/* footer section */
/* contact form */
/* about page */
